@import '_center'; /*@include fonction()*/
@import '_transition';
@import '_zero-mp';
$noir: #000;
$blanc: #fff;
$height: 380px;
$width: 474px;

#box{
    border: $noir 1px dashed;
    position: absolute;
    height: ($height+($height/2));
    width: $width;
    top: 50%;
    left:50%;
    margin: (-$height*0.75) 0 0 (-$width/2);
    #date{
        position: absolute;
        top: 2.5%;
        right: 5%;
        border-radius: 50%;
        background: #f00;
        color: $blanc;
        width: 50px;
        height: 50px;
        font-size: 18px;
        line-height: 22px;
        p{
            @include zero-mp();
            text-align: center;
        }
    }
    #img{
        img{
            height: $height;
            z-index: 1;
        }
    }
    #content{
        position: absolute;
        background: $blanc;
        bottom: 0;
        padding: 0 25px;
        height: ($height/2);
        width: ($width - 50px);
        z-index: 2;
        transition: 1s;
        &:hover{
            height: ($height+(-$height/3));
            #h-content{
                display: block;
                opacity: 1;
                color: #666;
            }
        }
        #t-img{
            color: $blanc;
            background: #f00;
            width: ($width/4);
            line-height: 5px;
            text-align: center;
            position: absolute;
            margin-top: -36px;
            margin-left: -25px;
            z-index: 50;
        }
        #t-content{
            h2{
                margin-top: -10px;
                color: #d23;
            }
        }
        #h-content{
            position: relative;
            display: none;
            opacity: 0;
            &:after{
                display: block !important;
                height: auto !important;
                opacity: 1 !important;
            }
        }
        #f-content{
            ul{
                display: flex;
                list-style: none;
                @include zero-mp();
                li{
                    padding-right: 40px;
                    color: #666;
                }
            }
        }
    }
}