@import '_center'; /*@include fonction()*/
@import '_transition';
$noir: #000;
$blanc: #fff;

body{
    background: $noir;
}
#box{
    font-size: 20px;
    width: 200px;
    line-height: 50px;
    text-align: center;
    margin-left: -100px;
    margin-top: -25px;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 0;
    border: 3px $blanc solid;
    transition: 2s;
    &:hover{
        background: $blanc;
        transform: translate(500px,0);
        /*transform: scale(2);
        -webkit-transform: scale(2);
        -o-transform: scale(2); 
        -moz-transform: scale(2);*/
    }
    a{
        text-decoration: none;
        color: $blanc;
        transition: 2s;
        &:hover{
            color: $noir;
        }
    }
}