@mixin prefix($property, $value, $prefixes: ()) { 
  @each $prefix in $prefixes {
    -#{$prefix}-#{$property}: $value;
  }

  #{$property}: $value;
 }
@mixin center-h($height) { 
    position: absolute;
    top: 50%;
    height: $height;
    margin-top: -($height / 2);
 }
 @mixin center-nh() { 
    position: relative;
    top: 50%;
    @include prefix(transform, translateY(-50%), 'webkit' 'ms');
 }
 @mixin center-v($width) { 
    position: absolute;
    left: 50%;
    width: $width;
    margin-left: -($width / 2);
 }
 @mixin center-nv() { 
    position: relative;
    left: 50%;
    @include prefix(transform, translateX(-50%), 'webkit' 'ms');
 }