@import '_center'; /*@include fonction()*/
$noir: #000;
$blanc: #fff;

body{
    background: $noir;
}

#box{
    font-size: 20px;
    width: 200px;
    line-height: 50px;
    text-align: center;
    margin-left: -100px;
    margin-top: -25px;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 0;
    border: 3px $blanc solid;
    a{
        text-decoration: none;
        color: $blanc;
    }
}